body {
    font-family: Arial;
    text-align: center;
    background-color: #f2f2f2;
}

header {
    background-color: darkblue;
    color: white;
    padding: 20px;
}

section {
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

footer {
    background-color: black;
    color: white;
    padding: 10px;
}
